$primary: #25262a;
$secundary: green;
$dark: #ffdd18;
$light: blue;
$sucess: #0fa;
$info: #156;
$warning: #1985;
$danger: #918;

.col-esquerda {
    color: rgb(255, 255, 255);
}

.coluna-direita{
    height: 868px;
    width: 400px;
    text-align: center;
    font-family: 'Playfair Display', serif;
    font-size: 1.2em;
    color: white;
}

.a-email{
    font-family: 'Quicksand', sans-serif;
    color: white;
    text-decoration:none !important;
    cursor: pointer;
    &:hover {
    color: white;
    }
}

.img-photo{
    margin-top: 50px;
    width:140px;
    height:140px;
    border-radius: 50%;
    margin-bottom: 20px;
}

.p-hello{
    font-family: 'Quicksand', sans-serif;
    font-size: 1.4em;
}

.p-description{
    margin-top: 60px;
    margin-bottom: 60px;
    font-size: 16px;
    font-family: 'Quicksand', sans-serif;
}

.a-download{
    margin-top: 50px;
    margin-left: 220px;
    display: flex;
    float: none;
    justify-content: center;
    align-items: center;
    width: 160px;
    height: 52px;
    background-color: #ffdd18;
    color: black;
    text-decoration:none !important;
    cursor: pointer;
    &:hover {
    background-color: rgba($color: #ebe72d, $alpha: 1.0);
    }
}

.h1-name{
    margin-top: 5px;
    line-height: 0.9em;
    font-size: 70px;
    font-family: 'Playfair Display', serif;
}

.span-description {
    font-family: 'Playfair Display', serif;
    letter-spacing: 0.03em;
    font-size: 21px;
    line-height: 1.5em;
}

.span-number {
    font-family: 'Quicksand', sans-serif;
}

.div-col-esquerda{
    margin-top: 450px;
    margin-left: 150px;
    display: grid;
}



@import "~bootstrap/scss/bootstrap.scss";