$primary: #25262a;
$secundary: green;
$dark: #ffdd18;
$light: blue;
$sucess: #0fa;
$info: #156;
$warning: #1985;
$danger: #918;

.col-esquerda {
    color: rgb(255, 255, 255);
}

.coluna-direita{
    height: 868px;
    width: 400px;
    text-align: center;
    font-family: 'Playfair Display', serif;
    font-size: 1.2em;
    color: white;
}

.email{
    color: white;
    text-decoration:none !important;
    cursor: pointer;
    &:hover {
    color: white;
    }
}

.img-photo{
    width:140px;
    height:140px;
    border-radius: 50%;
    margin-bottom: 20px;
}

.p-hello{
    font-family: 'Quicksand', sans-serif;
    font-size: 1.4em;
}

.h1-name{
    line-height: 0.9em;
    font-size: 70px;
    font-family: 'Playfair Display', serif;
}

.span-description {
    font-family: 'Playfair Display', serif;
    letter-spacing: 0.03em;
    font-size: 21px;
    line-height: 1.5em;
}



@import "~bootstrap/scss/bootstrap.scss";