@import "bootstrap/scss/functions"; 
@import "bootstrap/scss/variables";
@import "bootstrap/scss/mixins";

$theme-colors: (
  primary: #e4c82e,
  secundary: #8DB2BA,
  dark: #25262a,
  light: #F9F8F9,
  light-2: #E8FBFF,
  );

$spacers: (
    6: $spacer * 4.5,
    7: $spacer * 7,
    8: $spacer * 8,
    9: $spacer * 9,
    10: $spacer * 20
);

@import "bootstrap";

// $primary: #25262a;
// $secundary: green;
// $dark: #ebcd29;
// $light: blue;
// $sucess: #0fa;
// $info: #156;
// $warning: #1985;
// $danger: #918;
// $yellow: #ffdd18;

.col-esquerda {
    color: rgb(255, 255, 255);
}

.coluna-direita{
    
    // height: 868px;
    // width: 400px;
    text-align: center;
    font-family: 'Playfair Display', serif;
    font-size: 1.2em;
    color: white;
}

.a-email{
    font-family: 'Quicksand', sans-serif;
    color: white;
    text-decoration:none !important;
    cursor: pointer;
    &:hover {
        color: white;
    }
}

.img-photo{
    margin-top: 50px;
    width:140px;
    height:140px;
    border-radius: 50%;
    margin-bottom: 20px;
}

.p-hello{
    font-family: 'Quicksand', sans-serif;
    font-size: 1.4em;
}

.p-description{
    margin-top: 60px;
    margin-bottom: 60px;
    font-size: 16px;
    font-family: 'Quicksand', sans-serif;
}

.a-download{
    
    display: flex;
    float: none;
    justify-content: center;
    align-items: center;
    width: 160px;
    height: 52px;
    background-color: #ffdd18;
    color: black;
    text-decoration:none !important;
    cursor: pointer;
    &:hover {
        background-color: rgba($color: #ebe72d, $alpha: 1.0);
    }
}

.h1-name{
    margin-top: 5px;
    line-height: 0.9em;
    font-size: 70px;
    font-family: 'Playfair Display', serif;
}

.span-description {
    font-family: 'Playfair Display', serif;
    letter-spacing: 0.03em;
    font-size: 21px;
    line-height: 1.5em;
}

.span-number {
    font-family: 'Quicksand', sans-serif;
}

.div-col-esquerda{
    margin-top: 450px;
    margin-left: 150px;
    display: grid;
}

.font-playfair {
    font-family: 'Playfair Display', serif;
    font-size: 32px;
    font-style: italic;
}

.font-quicksand {
    font-family: 'Quicksand', sans-serif;
    font-size: 16px;

}


// @import "~bootstrap/scss/bootstrap.scss";