@import "bootstrap/scss/functions"; 
@import "bootstrap/scss/variables";
@import "bootstrap/scss/mixins";

$theme-colors: (
  primary: #e4c82e,
  secundary: #8DB2BA,
  dark: #25262a,
  light: #F9F8F9,
  light-2: #273238,
  );

$spacers: (
    6: $spacer * 4.5,
    7: $spacer * 7,
    8: $spacer * 8,
    9: $spacer * 9,
    10: $spacer * 20
);

@import "bootstrap";

.col-esquerda {
    color: rgb(255, 255, 255);
}

.coluna-direita{
    text-align: center;
    font-family: 'Playfair Display', serif;
    font-size: 1.2em;
    color: white;
}

.a-email{
    font-family: 'Quicksand', sans-serif;
    color: white;
    text-decoration:none !important;
    cursor: pointer;
    &:hover {
        color: white;
    }
}

.img-card {
    // max-height: 11rem;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    object-fit: contain;
}

.img-holder {
    height: 170px;
}

.img-photo{
    margin-top: 3.125rem;
    width: 8.75rem;
    height: 8.75rem;
    border-radius: 50%;
    margin-bottom: 1.25rem;
}

.p-hello{
    font-family: 'Quicksand', sans-serif;
    font-size: 1.4em;
}

.p-description{
    margin-top: 3.75rem;
    margin-bottom: 3.75rem;
    font-size: 1rem;
    font-family: 'Quicksand', sans-serif;
}

.a-download{
    
    display: flex;
    float: none;
    justify-content: center;
    align-items: center;

    width: 10rem;
    height: 3.25rem;
    background-color: #ffdd18;
    color: black;

    text-decoration:none !important;

    cursor: pointer;
    &:hover {
        background-color: rgba($color: #ebe72d, $alpha: 1.0);
    }
}

.h1-name{
    font-size: 4.375rem;
    font-family: 'Playfair Display', serif;
}

.span-description {
    font-family: 'Playfair Display', serif;
    letter-spacing: 0.03em;
    font-size: 1.313rem;
    line-height: 1.5em;
}

.span-number {
    font-family: 'Quicksand', sans-serif;
}

.div-col-esquerda{
    margin-top: 28.125rem;
    margin-left: 9.375rem;
    display: flex;
}

.col-sobre{
    display: flex;
}

.font-playfair {
    font-family: 'Playfair Display', serif;
    font-size: 2rem;
    font-style: italic;
}

.font-quicksand {
    font-family: 'Quicksand', sans-serif;
    font-size: 1rem;
}

.p-size {
    font-size: 1.3rem;
}

.div-padding {
    padding-left: 18.75rem;
}

@media (max-width: 572px){
    .div-padding {
        padding-left: 6.25rem;
    }
}
